cachetools==5.5.2
certifi==2026.1.4
charset-normalizer==3.4.4
google-ai-generativelanguage==0.4.0
google-api-core==2.29.0
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.3.2
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.62.3
httplib2==0.31.2
idna==3.11
oauthlib==3.3.1
proto-plus==1.27.0
protobuf==4.25.8
pyasn1==0.6.2
pyasn1_modules==0.4.2
pyparsing==3.3.2
python-dotenv==1.0.1
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
tqdm==4.67.1
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
